<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sfbd.serviceforcebd">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sfbd.serviceforcebd.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sfbd.serviceforcebd.activity.AddressActivity" />
        <activity android:name="com.sfbd.serviceforcebd.activity.LocationActivity" />
        <activity android:name="com.sfbd.serviceforcebd.activity.SignInActivity" />
        <activity android:name="com.sfbd.serviceforcebd.activity.SignUpActivity" />
        <activity android:name="com.sfbd.serviceforcebd.activity.ServicesActivity" />
        <activity android:name="com.sfbd.serviceforcebd.activity.MainActivity">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>